
@{
    ViewBag.Title = "beyondgood";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>Beyond Good And Evil</h2>
<br />
<br />
<div style="display:inline-block">
    <img class="img-responsive " src="~//file//beyondgood.jpg" alt="">

    <br />
    @Html.ActionLink("Download", "downloadBeyondGood", "Home", null, new { @class = "btn btn-primary btn-lg" })
</div>

