
@{
    ViewBag.Title = "twocities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>A Tale Of Two Cities</h2>
<br />
<br />
<div style="display:inline-block">
    <img class="img-responsive " src="~//file//twocities.jpg" alt="">

    <br />
    @Html.ActionLink("Download", "downloadTaleofTwoCities", "Home", null, new { @class = "btn btn-primary btn-lg" })
</div>

